.Service {
    display: flex;
    flex-wrap: wrap;
    padding: 50px;
}
body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
div .container{
    margin-top: 20px;
    margin-bottom: 20px;
}
div .homepage{
    width: 85%;
    height:70vh;
    background-color: lightgrey;
    margin:auto;
    margin-top: 20px;
}
nav{
    display: inline-flex;
    gap: 80px;
    margin: 10px auto auto 20px;
}
.navright{
    width:20px;
}
a {
    text-decoration: none;
}
li{
    list-style: none;
    display: inline-block;
}
.imgdiv{
    margin-left: 200px;
}
.navlist{
    display: inline-flex;
    gap: 30px;
    margin-right: 20px;
}
.text{
    margin:60px auto auto 110px;
    font-size: larger;
}
.navleft{
    gap: 20px;
}

div .about{
    width: 85%;
    height:40vh;
    top: 0px;
    background-color: rgb(223, 209, 209);
    margin: auto;
    padding: 1px;
    text-align: center;
}
.about h2{
    margin-top: 30px;
    padding: 10px;
}
.text3{
    margin: auto;
}
div .experience{
    width: 85%;
    height:60vh;
    top: 0px;
    background-color: rgb(247, 235, 235);
    margin: auto;
    padding: 1px;
    text-align: left;
}
.user{
    float: right;
    width: 400px;
    height: 400px;
    /* border-radius: 50%; */
}
.text4{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    z-index: inherit;
}
.class1 input{
    width: 300px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: blue;
}
.class2 input{
    width: 200px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: blue;
}
.class3 input{
    width: 170px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: blue;
}
.class4 input{
    width: 300px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: blue;
}
.class5 input{
    width: 200px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: blue;
}
.class6 input{
    width: 170px;
    border-radius: 20px;
    border: 1px solid blue;
    background-color: blue;
}
.experience h2{
    color: rgb(217, 28, 28);
    margin: 10px;
}
.contact {
    width: 85%;
    height: 50vh;
    top: 0px;
    background-color: silver;
    margin: auto;
    padding: 1px;
    text-align: left;
}
.text2{
    color: rgb(12, 54, 54);
    margin: auto;
    padding: 10px;
}